# Ignore node_modules directory
node_modules/
.github/

# Ignore build directory
build/

# Ignore .htaccess file in the public directory
/public/.htaccess

# Ignore .DS_Store file
.DS_Store 

# Ignore local Apache server environment
.htaccess

#Ignore local node setup
server.js

#Ignore vs code setup
.vscode/

#Ignore private keys
.env

#Ignore local error logs
nohup.out

#Ignore clone conflicts
package.json
package-lock.json
firebaseConfig.json

#DO NOT PUSH PRIVATE KEYS
/public/js/KEYS.js
KEYS.js
phpinfo.php
output.log
