.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    /* Ensures no internal content causes scrolling */
}

body,
html {
    background-image: url('../images/main_bg3.jpg'); /* Update the path to your image */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    /* Prevent scrolling */
    display: flex;
    flex-direction: column;
    background-color: #1d2c0c;
    /* Lighter green for a softer look */
    color: #333;
    /* Good contrast for readability */
    z-index: -1;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    /* Changed from absolute to relative if it needs to be part of the normal document flow */
    display: flex;
    z-index: 10;
    background-color: #FFFFFF;
    /* White for a clean, modern appearance */
    color: #333;
    /* Dark text for contrast */
}

input[type="text"],
input[type="password"] {
    border: 1px solid #ccc;
    padding: 8px;
    width: 200px;
    border-radius: 4px;
    z-index: 2;
    /* Higher than the fill */
}

.header,
.footer {
    position: relative;
    /* Necessary for positioning the absolute element */
    width: 100%;
    /* Ensures the header fills the top part of the page */

    text-align: center;
    padding: 3px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    /* White for a clean, modern appearance */
    color: #333;
    /* Dark text for contrast */
    z-index: 500;
    /* Ensure this is less than the settings icon if needed */
}

.header-label {
    font-size: 20px;
    color: #363636;
}

.footer-label {
    font-size: 10px;
    color: #363636;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    grid-gap: 10px;
    padding: px;
    align-items: center;
    justify-items: center; /* Centers items horizontally within the grid area */


}

.number-box {
    width: 90%;
    height: 20px;
    border: 1px solid #333;
    margin: 2px 0;
    font-size: 12px;
    border: 1px solid #BDBDBD;
    /* Consistent border styling */
    background-color: #FAFAFA;
    /* Light background for inputs */
    z-index: 2;
    /* Higher than the fill */
}

.number-box.large {
    height: 55px;
    font-size: 40px;
    width: 80px;
    text-align: center;
    border: 1px solid #BDBDBD;
    /* Consistent border styling */
    background-color: #FAFAFA;
    /* Light background for inputs */
    z-index: 2;
    /* Higher than the fill */
}

.secret-box.large {
    height: 55px;
    font-size: 40px;
    width: 80px;
    text-align: center;
    border: 1px solid #BDBDBD;
    /* Consistent border styling */
    background-color: #FAFAFA;
    /* Light background for inputs */
    z-index: 2;
    /* Higher than the fill */
}

.number-box.small {
    text-align: center;
    width: 100px;
    color: black;
    height: 8px;
    font-size: 10px;
    border: 1px solid #BDBDBD;
    /* Consistent border styling */
    background-color: #FAFAFA;
    /* Light background for inputs */
    text-overflow: ellipsis;
    /* Display ellipsis (...) when text overflows */
    overflow: hidden;
    /* Hide overflowing text */
    z-index: 2;
    /* Higher than the fill */
}

.score {
    padding: 5px 12px;
    margin: 0 10px;
    background-color: #FAFAFA;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    min-width: 20px;
    min-height: 20px;
    /* Ensures visibility even if content is '0' */
    font-size: 16px;
    color: black;
    /* Ensures contrast for readability */
    display: inline-block;
    /* Helps with alignment and space allocation */
    text-align: center;

}

.score-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    z-index: 2;
    /* Higher than the fill */
}

.score-change {
    width: 15px;
    height: 15px;
    line-height: 15px;
    /* Align the text vertically */
    display: flex;
    align-items: center;
    /* Center the content vertically */
    justify-content: center;
    /* Center the content horizontally */
    color: white;
    cursor: pointer;
    user-select: none;
}


.line {
    position: absolute;
    background-color: #000000 !important;
    /* A vibrant green that stands out nicely */
    z-index: 1;
    pointer-events: none;
    height: 6px;
    /* Increased thickness */
    display: block; /* Ensure it is visible by default */

}

.circle.green,
.container .circle.green {
    /* More specific selector */
    background-color: #4CAF50;
}

.circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Ensures vertical stacking of content */
    position: relative;
    margin: 10px;
    background-color: #FFC107;
    border: 2px solid #BDBDBD;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* Ensures nothing spills out */
    z-index: 5;
    /* Higher than the line's z-index */
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    /* Smooth transitions for multiple properties */
}

.fill {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
    /* Adjust color if needed */
    transition: height 0.3s ease-in-out;
    z-index: -1;
    /* Lower than text and interactive elements */
    opacity: 0.5;
    /* Makes the fill semi-transparent. Adjust value between 0 and 1 to suit your needs */
}

.circle::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: red;
    /* Fill color */
    transition: height 0.3s ease-in-out;
    height: var(--fill-height, 0%);
    /* Start with 0% and use the custom property */
    z-index: 1;
    /* Higher than the line's z-index */
    opacity: 0.7;
    /* Adjust opacity if needed */
}

.circle:hover {
    border-color: #4CAF50;
    /* Green on hover to indicate interactivity */
    transform: scale(1.05);
    /* Slight scale to draw attention */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    /* More pronounced shadow on hover */

}

.circle:not(.green).highlighted {
    position: relative;
    /* Needed for z-index */
    z-index: 10;
    /* Make sure it appears above other elements */
    border: 2px solid transparent;
    background: linear-gradient(#FFB74D, #FFA726) padding-box, linear-gradient(to right, #FF9800, #FB8C00) border-box;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    transform: scale(1.08);
    /* Slightly larger scale for a more pronounced effect */
    box-shadow: 0 0 15px 2px rgba(255, 167, 38, 0.75);
    /* Increased shadow for a raised effect */
}

@keyframes pulseAnimation {

    0%,
    100% {
        box-shadow: 0 0 15px #4285F4;
        /* Initial glow size */
    }

    50% {
        box-shadow: 0 0 20px #4285F4;
        /* Increased glow size */
    }
}

.layers_headings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
}

.layer-label {
    font-size: 12px;
    text-align: center;
    padding: 5px;
    color: #363636;
}

.prediction {
    display: flex;
    justify-content: center;
    /* This centers the contents horizontally */
    align-items: center;
    margin-right: 10px;
    font-size: 13px;
    text-align: right;
    color: #363636;
    z-index: 20;
    /* Higher than the fill */
}

checkbox {
    width: 25%;
    /* 25% of the large text box */
    height: 25%;
    /* Proportional height */
    cursor: pointer;
    /* Optional: changes cursor on hover over the checkbox */
    z-index: 3;
    /* Higher than the fill */
}

input[type="checkbox"] {
    position: relative;
    /* Ensure positioning context */
    z-index: 3;
    /* Higher z-index to keep it above the fill */
}


.input-layer,
.output-layer {
    background-color: #4CAF50;
    /* Bright Orange for output layer */
    color: #FFFFFF;
    /* White text for contrast and visibility */
}

.circle.input-layer,
.circle.output-layer {
    border: 3px solid #BDBDBD;
    /* Slightly darker border for emphasis */
}

.circle.input-layer:hover,
.circle.output-layer:hover {
    border-color: #9E9E9E;
    /* Darken border on hover for interaction feedback */
    transform: scale(1.05);
    /* Slight scale increase */
}

@keyframes wobbleAnimation {

    0%,
    100% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.02, 0.98);
    }

    50% {
        transform: scale(0.98, 1.02);
    }

    75% {
        transform: scale(1.01, 0.99);
    }
}

.circle.highlighted {
    animation: wobbleAnimation 0.6s ease-in-out infinite;
}

.hidden-layer {
    background-color: #FF9800;
    /* Bright Orange for output layer */
    color: #FFFFFF;
    /* White text for contrast and visibility */
}


.button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* Vertically centers the content */
}

button {
    flex-shrink: 0;
    /* Prevents the button from shrinking */
    border: none;
    padding: 10px 10px;
    margin: 0;
    /* Resets any default margin */
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    background-color: #4CAF50;
    /* Consistent green theme for buttons */
    color: #FFF;
    /* White text for visibility */
    transition: background-color 0.3s ease;
    /* Smooth hover effect */
    margin-right: 20px;
}

#score-range-dec,
#score-range-inc,
#score-range-max {
    margin-right: 0px;
}

button:last-child {
    margin-right: 0;
    /* Removes margin from the last button to avoid extra spacing */
}

button:hover {
    background-color: #388E3C;
    /* Darker green on hover */
}

#linkButton,
#add3,
#add5,
#reset-ticks,
#save-game,
#load-game {
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    background-color: #4CAF50;
    color: #FFF;
}

#linkButton:hover,
#add3:hover,
#add5:hover,
#reset-ticks:hover {
    background-color: #388E3C;
    /* Darker green on hover */
}

#reset-scores,
#save-game,
#load-game {
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    background-color: #B22222;
    color: #FFF;
}

#reset-scores {
    margin-left: 150px;
    /* Adjust padding to fit your icon size */

}

#reset-scores:hover,
#save-game:hover,
#load-game:hover {
    background-color: #8B0000;
    /* Darker green on hover */
}

.styled-list {
    list-style: none;
    /* Remove default list styling */
    padding: 0;
    margin: 0;
}

.styled-list li,
.styled-list2 {
    list-style: none;
    /* Remove default list styling */
    padding: 0;
    margin: 0;
    background: url('../images/bullet.png') no-repeat left center;
    /* URL to your custom icon */
    padding-left: 30px;
    /* Adjust padding to fit your icon size */
    margin-bottom: 8px;
    /* Space between items */
    background-size: 20px;
    /* Size of the icon */
    line-height: 1.6;
    /* Line height to ensure proper vertical spacing */
    text-align: left;
    /* Ensures text alignment is consistent */
}

.hidden {
    display: none;
}

.hidden-message {
    display: none;
}

#reset {
    margin-right: 100px;
    /* Adds 100px of space to the right of the New Round button */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    margin-left: 30px;
    /* Space from the Link button */
    background-color: #4CAF50;
    /* Consistent green theme for buttons */
    color: #FFF;
    /* White text for visibility */
}

#reset:hover {
    background-color: #388E3C;
    /* Darker green on hover */
}

.popup,
.popup2,
.popup3,
.popup1 {
    position: absolute;
    top: 20px;
    /* Adjusted for visibility */
    left: 20px;
    width: 250px;
    padding: 10px;
    background: #DBE9F4;
    border: 2px solid #BDBDBD;
    /* Light gray border similar to circle borders */
    border-radius: 10px;
    /* Smoothed corners for a modern look */
    display: none;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(-10px) scale(1);
    /* Slightly raised to animate from */
    color: #333;
    /* Text color for readability */
    font-size: 14px;
    /* Appropriate text sizing for tooltips */
    text-align: center;
    /* Centered text */
}

.popup3 {
    width: 450px;

}

.popup1 {
    width: 550px;

}

/* Animation for showing the popup */
@keyframes popupShow {
    0% {
        transform: scale(0.95);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Hover effect to make it appear */
.popup:hover,
.popup2:hover,
.popup3:hover,
.popup4:hover,
.popup1:hover {
    opacity: 1;
    transform: translateY(0px) scale(1.05);
    /* Smooth grow effect */
}

/* Common styles for headers in popups */
.popup h2,
.popup2 h2,
.popup3 h2,
.popup1 h2 {
    text-align: left;
    /* Aligning text to the left */
    font-size: 18px;
    padding-left: 10px;
}

.result-popup {

    position: fixed;
    top: 50px;
    /* Adjusted for visibility */
    right: 20px;
    width: 354px;
    padding: 10px;
    background: #DBE9F4;
    border: 2px solid #BDBDBD;
    /* Light gray border similar to circle borders */
    border-radius: 10px;
    /* Smoothed corners for a modern look */
    display: none;
    /* Initially hidden */
    z-index: 2001;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(-10px) scale(1);
    /* Slightly raised to animate from */
    color: #333;
    /* Text color for readability */
    font-size: 14px;
    /* Appropriate text sizing for tooltips */
    text-align: center;
    /* Centered text */
    resize: both;
    overflow: auto;
}

.popup-header {
    cursor: move;
    /* Indicate that it can be moved */
    background-color: #f4f4f4;
    padding: 10px;
    color: #333;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.popup-header .close-btn {
    float: right;
    cursor: pointer;
    font-size: 24px;
    color: #666;
}

.popup-header h2 {
    margin: 0;
}

.popup-content {
    padding: 5px;
    font-size: 12px;

}

.resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    cursor: se-resize;
    border-bottom-right-radius: 8px;
}

.result-label {
    position: fixed;
    top: 80px;
    /* Adjusted for visibility */
    left: 150px;
    width: 200px;
    height: 600px;
    padding: 10px;
    transform: translateX(-50%) scale(1);
    border-radius: 8px;
    background: #DBE9F4;
    /* Example color: Mint Cream */
    color: #333;
    border: 2px solid #BDBDBD;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: none;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    text-align: center;
    /* Aligning text to the left */
    font-size: 20px;
    padding-left: 10px;
}

.result-popup table {
    width: 100%;
    /* Full width of the container */
    border-collapse: collapse;
}


result-popup th,
.result-popup td {
    word-wrap: break-word;
    /* Ensures text wraps and respects column width */
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

/* Alignments for each column */
.result-popup td:nth-child(1) {
    /* First column - Name */
    text-align: left;
    width: 10%;
}

.result-popup td:nth-child(2) {
    /* Second column - Value */
    text-align: center;
    width: 10%;
}

.result-popup td:nth-child(3) {
    /* Third column - Status */
    text-align: left;
    width: 10%;
}

@keyframes fadeInScaleUp {
    from {
        opacity: 0;
        transform: translateX(-50%) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
}

@keyframes fadeOutScaleDown {
    from {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }

    to {
        opacity: 0;
        transform: translateX(-50%) scale(0.95);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

.score-animate {
    animation: pulse 0.5s ease-in-out;
}

.button-container {
    display: flex;
    align-items: center;
    /* Vertically aligns children in the middle */
    justify-content: space-between;
    /* Spreads children across the container */
    height: 100%;
    /* Full height to fill the toolbar */
}

.score-scale-container {
    display: flex;
    align-items: center;
    /* This ensures vertical center alignment */
    justify-content: center;
    /* This centers the contents horizontally */
    height: 50px;
    /* Explicit height */
    margin-right: 100px;
    /* More space on the left */
}



.score-scale-container button,
.score-scale-container label {
    background: #4CAF50;
    /* Background color */
    color: white;
    /* Text color */
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 20px;
    /* Larger text for better visibility */
    height: 30px;
    /* Fixed height for vertical alignment */
    display: flex;
    align-items: center;
    /* Align text vertically center in the button */
    justify-content: center;
    /* Center content horizontally in the button */
}

.score-scale-container label {
    background: transparent;
    /* No background for the label */
    color: black;
    /* Text color */
    font-size: 20px;
    /* Larger text for better visibility */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    /* Ensure full width */
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    /* Maintain the existing background */
    color: #333;
    z-index: 500;
    /* Maintain z-index for stacking context */
}

.header-label {
    flex: 1;
    /* Give equal space to all header labels */
    font-size: 20px;
    color: #363636;
    text-align: center;
    /* Center text within each segment */
}

.settings-container {
    position: absolute;
    right: 30px;
    /* 30px from the right of the screen */
    left: 30px;
    /* 30px from the right of the screen */

    top: 0;
    height: 50px;
    /* Maintain height */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1000;
    /* High z-index to ensure it is on top */
}

#settings-icon {
    width: 30px;
    height: 30px;
    background-image: url('../images/tools4.png');
    background-size: cover;
    cursor: pointer;
}

@keyframes wobble {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-15deg);
    }

    75% {
        transform: rotate(15deg);
    }
}

#settings-icon.wobble {
    animation: wobble 0.5s ease-in-out;
}

/* Additional styling to ensure OUTPUT LAYER has margin if needed */
.output-layer-header {
    margin-right: 180px;
    /* Adjust this value to increase/decrease space */
}

/* Container for authentication elements */

.auth-container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000; /* Match this to your application's theme */
    padding: 10px 20px;
    z-index: 1000; /* Ensure it appears above other elements */
    box-shadow: 0px 4px 2px -2px gray; /* Optional: Add a shadow for better visibility */
}

/* Styling for the authentication status message */
#sign-in-status {
    margin: 0;
    padding: 10px;
    color: white; /* Ensure the text color contrasts with the background */
    flex: 1;
}

/* Styling for the sign-in and sign-out buttons */
#sign-in, #sign-out {
    background-color: #4CAF50; /* Same style as other buttons */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    flex-shrink: 0;
    margin-right: 30px;
}

#sign-out {
    background-color: #f44336; /* Different color for the sign-out button */
}


#main-content {
    flex: 1;
    display: block; /* Ensure it is visible by default */

}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF; /* You can customize the background color */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 0px 0; /* Add padding as needed */
    text-align: center;
}

button.disabled {
    background-color: grey; /* Greyed out background */
    color: #666; /* Lighter text color */
    cursor: not-allowed; /* Not-allowed cursor */
    opacity: 0.3; /* Lower opacity */
}

label.disabled {
    background-color: grey; /* Greyed out background */
    color: #666; /* Lighter text color */
    cursor: not-allowed; /* Not-allowed cursor */
    opacity: 0.0; /* Lower opacity */
}
.popup4 {
    position: absolute !important;
    top: 18% !important; /* Centered vertically */
    left: 2% !important; /* Centered horizontally */
    transform: translate(-50%, -20%) !important; /* Centering adjustment */
    width: 80% !important; /* Responsive width */
    max-width: 900px !important; /* Maximum width */
    padding: 20px !important;
    background: #f7f9fb !important; /* Softer background color */
    border: 2px solid #BDBDBD !important;
    border-radius: 10px !important;
    display: none !important; /* Initially hidden */
    z-index: 3000 !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1) !important; /* Subtle shadow for depth */
    opacity: 0 !important;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out !important;
    color: #333 !important;
    font-size: 18px !important; /* Consistent font size */
    text-align: left !important;
}

.popup4 h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.popup4 h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.popup4 p {
    line-height: 1.5;
    margin: 5px 0;
}

.popup4 a {
    color: #007BFF; /* Standard link color */
    text-decoration: none;
}

.popup4 a:hover {
    text-decoration: underline;
}

.popup-content {
    display: flex;
    align-items: flex-start; /* Align items to the start */
    justify-content: flex-start; /* Align items to the start */
}

.popup-logo {
    max-width: 200px; /* Adjust the size as needed */
    height: auto;
    margin-right: 20px; /* Space between logo and text */
}

.popup-text {
    flex: 1; /* Allow the text to take up remaining space */
}

.styled-list {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    margin: 10px 0;
}

.styled-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.styled-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 20px;
    height: 20px;
    background: url('../images/bullet.png') no-repeat center center;
    background-size: contain;
}

.close-btn {
    display: block;
    margin: 20px auto 0 auto; /* Center button horizontally */
    background-color: #4CAF50; /* Consistent button color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px; /* Consistent font size */
    text-align: center;
}

.close-btn:hover {
    background-color: #388E3C; /* Darker green on hover */
}